body {
    margin: 0px;
}

.webchat {
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-color: khaki;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 70%;
    height: 80%;
}

.barra-navegacion {
    font-size: 150%;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    border-bottom: none;
}

.box {
    position: relative;
    top: 8%;
    right: 41px;
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    
}

.boxform {
    width: 100%;
    height: 60px;
    border-top: none;
    position: absolute;
    bottom: 20px;
}

.formulario {
    display: flex;
    justify-content: center;
}

.msgbox {
    height: 40px;
    border: none;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
}

.msgbutton {
    width: 150px;
    height: 40px;
    border: none;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
}



.error {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}