@import url(webchatcolors.css);

/*
    ARRIBA COLORES
*/

.mensaje {
    font-family: 'Roboto', sans-serif;
    height: 60px;
    width: calc(100% - 40px);
    margin-left: 10px;
    padding: 3px;
    background-color: var(--mensaje-background);
    
}
.mensaje:hover{
    background-color: var(--mensaje-background-hover);
    
}

.msgautor{
    font-size: 1.20em;
   
    font: bold 16px/30px Georgia, serif;
    

}

.msgprofilepicbox{
    position: relative;
    top: 13%;
}

.msgcontent{
    color: var(--mensaje-contenido-color);
    position: relative;
    bottom: 68%;
    left: 8%;
    line-height: 1.5;
    font-family: "Segoe UI", Georgia, Serif;
}

.msgprofilepic{
    width: 5%;
    height: 75%;
    position:relative;
    border-radius: 100%;
    left: 1%;

}

.msgtime{
    font-size: 0.7em;
    position: relative;
    left: 1%;

}

.msgbody{
  
    
}