body {
    background-color: #2C2F33;
}

.formulario {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

.form-items {}

.register-boton {}