:root{
    --mensaje-background: #FAFAFF;
    --mensaje-background-hover: #EEF0F2;
    --mensaje-contenido-color: #1C1C1C;
    --webchat-background:##FAFAFF;
    --form-background:#DADDD8;
    --top-nav-background:rgb(240, 240, 240);
}